/*global styles*/
body{
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-family: InterRegular;
}

@font-face {
    font-family: 'PacificoRegular';
    src: url(fonts/ofont.ru_Pacifico.ttf);
}

@font-face {
    font-family: 'InterRegular';
    src: url(fonts/Inter_28pt-Regular.ttf);
}

/*start of header*/

header{
    /* header and the void */
    height: 200px;
    display: flex; /* align items horizontally */
    justify-content: space-between; /* align first element to the left and right to the right */
}

.top_left_void {
    width: 5%;
    height: 200px;
    background-color: #6FF0E2;
    opacity: 50%; /* прозрачность */
}

.top_center_content {
    width: 90%;
}

.top_center_void {
    width: 100%;
    height: 40px;
    background-color: #6FF0E2;
    opacity: 50%;
}

.main_header {
    /* actual header */
    width: 100%;
    height: 160px;
    background-color: #6FF0E2;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.logo {
    margin: 0 60px 0 60px;
}

.club_name {
    font-family: PacificoRegular;
    font-size: 38px;
}

.right_side_header {
    margin: 0 60px 0 0;
    display: flex;
    align-items: center;
}

.lang_button {
    font-size: 32px;
    display: flex;
    align-items: center;
}

.lang_selection {
    margin-left: 10px;
}

.profile {
    margin-left: 20px;
}

.top_right_void {
    width: 5%;
    height: 200px;
    background-color: #6FF0E2;
    opacity: 50%;
}

/*end of header*/

/*start of navigation*/

nav {
    height: 80px;
    background-color: #FFDC9B;
    border-radius: 0 0 120px 120px;
    display: flex;
}

.nav_button_left {
    border-radius: 0 0 0 120px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav_button {
    width: 25%;
    border-left: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav_button_right {
    border-radius: 0 0 120px 0;
    width: 25%;
    border-left: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav_button_left, .nav_button, .nav_button_right:visited {
    color: black;
}

.nav_button_text {
    font-family: InterRegular;
    font-weight: bold;
    font-size: 36px;
}

/*end of navigation*/

/*start of main block*/

main {
    display: flex; /* align items horizontally */
    justify-content:space-between; /* align first element to the left and right to the right */
}

.main_left_void {
    width: 5%;
    height: 100%;
    background-color: #E0E0E0;
    opacity: 50%;
}

.main_and_nav {
    width:90%;
}

.main_right_void {
    width: 5%;
    height: 100%;
    background-color: #E0E0E0;
    opacity: 50%;
}

.main_content {
    padding-left: 60px;
    padding-right: 60px;
    background-image: url(images/фоновая\ картинка.png);
    background-repeat: no-repeat;
    background-size: 800px;
    height: 90%;
}

/*end of main block*/

/* emty space for other styles





styles of footer will be in the
bottom of the file
*/


/*start of footer*/

footer {
    /* footer and the void */
    height: 310px;
    display: flex;
}

.bottom_left_void {
    width: 5%;
    height: 310px;
    background-color: #92E7EF;
    opacity: 50%; /* прозрачность */
}

.bottom_center_content {
    width: 90%;
}

.bottom_center_void {
    width: 100%;
    height: 40px;
    background-color: #92E7EF;
    opacity: 50%;
}

.bottom_right_void {
    width: 5%;
    height: 310px;
    background-color: #92E7EF;
    opacity: 50%;
}

.main_footer {
    /* actual footer */
    width: 100%;
    height: 270px;
    background-color: #92E7EF;
    display: flex;
    justify-content: space-between;
}

.footer_left {
    /*main block of left side of footer*/
    width: 58%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*start of left side of footer*/
.icon {
    margin-top: 35px;
    margin-right: 45px;
}

.copyright{
    margin-bottom: 35px;
    font-size: 24px;
}

/*end of left side of footer*/

.footer_right {
    /*main block of right side of footer*/
    width: 42%;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*start of right side of footer*/

.footer_question_text {
    padding-top: 35px;
}

.footer_text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
}

.footer_contacts {
    display: flex;
}

.footer_email {
    display: flex;
    padding-bottom: 35px;
}

.footer_contacts_info {
    /*contacts: number and email*/
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;

} 

/*end of right side of footer*/

/*end of footer*/